.taskList {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    
  }
  
 

  
  

.container {
    position: relative;
    margin: 10px;
}

.dDiv { 
    display: inline;
    
   
}

.trashIcon {
    max-height: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
   
}
.trashIcon:hover,
.trashIcon:focus,
.active {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px;
    width: 40px;
    border-style: ridge;
}


#time {
    font-size: small;
    margin: 0px;
    padding: 0%;
}



.btn {
    position: relative;
    display: inline-block;
    min-inline-size: 300px;
    block-size: 40px;
    margin: 5px auto;
    padding: 5px;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

    background-color: white;
    color: black;
    font-size: 1.4em;
    text-decoration: none;

    transition: background-color 0.3s;
}

.btn:hover,
.btn:focus,
.active {
    background-color:mediumslateblue;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, 0.3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 150%;
    padding-top: 120%;

    transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

